<ion-modal-view view-title="Profil bearbeiten">
	<ion-header-bar class="bar-stable">
		<h1 class="title">Profil bearbeiten</h1>
	</ion-header-bar>
  <ion-content class="has-footer">
    <div class="list">

	  <div class="item item-icon-left" id="">
      <i class="icon ion-card"></i>
        <input type="text" ng-model="profile.username"></input>
    </div>

    <div class="item item-icon-left" id="">
      <i class="icon ion-email"></i>
        <input type="text" ng-model="profile.email"></input>
    </div>

    <div class="item item-icon-left" id="">
      <i class="icon ion-key"></i>
        <input type="password" ng-model="profile.password"></input>
    </div>

    <div class="item item-icon-left" id="">
      <i class="icon ion-clipboard"></i>
        <input type="text" ng-model="profile.adress"></input>
    </div>

    <div class="item item-icon-left">
      <i class="icon ion-android-call"></i>
        <input type="text" ng-model="profile.tel"></input>
    </div>

	  <div class="button-bar">
	  	<button class="button button-positive" ng-click="modal.remove()" href="#/app/contact">Speichern</button>
	 
	  	<button class="button button-dark" ng-click="modal.remove()">Abbrechen</button>
	  </div>
	 


  </ion-content>
</ion-modal-view>
