<ion-header-bar class="bar-dark" align-title="center">
    <h1 class="title">Session ungültig!</h1>
</ion-header-bar>
<ion-view view-title="Session ungültig!">
  <ion-content scroll="false">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/ionic.png">
        <h2>Zu Ihrer Sicherheit</h2>
        <p>Bitte loggen Sie sich erneut ein.</p>
      </div>
      <a class="item item-icon-left positive" href="#/login">
        <i class="icon ion-log-in"></i>
        zum Login
      </a>
    </div>
  </ion-content>
</ion-view>
