<ion-header-bar class="bar-dark" align-title="center">
    <h1 class="title">Roomanizer</h1>
</ion-header-bar>
<ion-view view-title="Raumplanung">
  <ion-content scroll="false">
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email" placeholder="">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Passwort</span>
          <input type="{{inputType}}" ng-model="loginData.password" placeholder="">
        </label>
        <div class="item item-divider"></div>        
          <ion-checkbox id="checkbox" ng-click="hideShowPassword()">Passwort einblenden</ion-checkbox>
        <div class="item item-divider"></div>  
        <label class="item">
          <button class="button button-block button-positive" type="submit"><i class="icon ion-log-in"></i> Anmelden</button>
        </label>
      </div>
    </form>
        
    <button class="button button-full button-clear button-positive" ng-click="forgotPassword()">Passwort vergessen?</button> 
            
    <button class="button button-full button-clear button-positive" ng-click="toRegistration()">Noch keinen Account?</button>   
          
  </ion-content>
</ion-view>
