<ion-view view-title="Meine Buchungen">
	<ion-content>
		<ion-list ng-repeat="booking in bookings" class="list">
			<div class="item item-thumbnail-left" href="">
				<img src="http://193.196.175.194/image/{{booking.IMGDATA}}">
				<h2>{{booking.BESCHREIBUNG}} {{booking.NUMMER}}</h2>
				<p>Von: {{booking.VONDATUM}}</p>
				<p>Bis: {{booking.BISDATUM}}</p>
				<p>{{booking.ANSCHRIFT}}</p>
				<p>{{booking.PLZ}} {{booking.ORT}}</p>
				<button type="button" class="button button-small button-dark" ng-click="showDelConfirm({{booking.LFDID}})">
				<i class="icon ion-minus button-icon"></i></button>
			</div>
		</ion-list>
	</ion-content>
</ion-view>