<ion-header-bar class="bar-dark" align-title="center">
    <h1 class="title">Passwort zurücksetzen</h1>
</ion-header-bar>
<ion-view view-title="Passwort zurücksetzen">
  <ion-content scroll="false">
    <form name="pwReset" ng-controller="PasswordResetCtrl">
      <div class="list"> 
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" ng-model="resetData.email" placeholder="Email" required/>
        </label>
        <div class="item item-divider"></div>  
        <label class="item">
          <button class="button button-block button-positive" ng-click="resetPassword()">Passwort zurücksetzen</button>
        </label>
        <label class="item">
          <button class="button button-block button-dark" type="button" ng-click="toLogin()">Abbrechen</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
