<ion-view view-title="Mein Profil">
  <ion-content>
    <div class="list">

    <div class="item item-icon-left" id="">
      <i class="icon ion-card"></i>
        <p ng-model="profile.username">Benutzername</p>
    </div>

    <div class="item item-icon-left" id="">
      <i class="icon ion-email"></i>
        <p ng-model="profile.email">Email-Adresse</p>
    </div>

    <div class="item item-icon-left" id="">
      <i class="icon ion-key"></i>
        <p type="password" ng-model="profile.password">Passwort</p>
    </div>

    <div class="item item-icon-left" id="">
      <i class="icon ion-clipboard"></i>
        <p ng-model="profile.adress">Adresse</p>
    </div>

    <div class="item item-icon-left">
      <i class="icon ion-android-call"></i>
        <p ng-model="profile.tel">Telefon/Handy</p>
    </div>

    <div>
      <button class="button button-full button-balanced" ng-click="validatePassword()">Kontaktdaten ändern</button>
    </div>
  </ion-content>
</ion-view>
