<ion-view view-title="Suchergebnis">
  <ion-content>
    <div class="list">
	    <a class="item item-thumbnail-left" href="#/app/roomdetail">
	      <img src="img/ionic.png">
	      <h2>Raum 1</h2>
	      <p>89518 Heidenheim</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/ionic.png">
	      <h2>Raum 2</h2>
	      <p>89518 Heidenheim</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/ionic.png">
	      <h2>Raum 3</h2>
	      <p>89518 Heidenheim</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/ionic.png">
	      <h2>Raum 4</h2>
	      <p>89518 Heidenheim</p>
	    </a>
	</div>
  </ion-content>
</ion-view>
