<ion-view view-title="Suchergebnis">
	<ion-content>
		<div ng-repeat="result in searchRes" class="list card">
      		<div class="item item-thumbnail-left item-button-right">
		        <img src="http://193.196.175.194/image/{{result.IMGDATA}}">
		        <h2>{{result.BESCHREIBUNG}}</h2>
		        <p>{{result.NUMMER}}</p>
		        <button type="button" class="button button-small button-positive" ng-click="book(bookData, {{result.RAUMID}})">Buchen</button>
      		</div>
     		<div class="item">
		        <p>Straße: {{result.ANSCHRIFT}}</p>
		        <p>Ort: {{result.ORT}}</p>
		        <p>Postleitzahl: {{result.PLZ}}</p>
      		</div>
    	</div>
	</ion-content>
</ion-view>
