<ion-view view-title="Raum x">
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img src="img/ionic.png">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>

  <div class="item item-image">
    <img src="img/ionic.png">
  </div>

  <div class="item">
  	<p>Straße:</p>
  	<p>Ort:</p>
  	<p>Postleitzahl:</p>
  </div>

  <button class="button button-full button-balanced" ng-click="book()">
    <i class="icon ion-checkmark-circled"></i> Buchen
  </button>

</div>
  </ion-content>
</ion-view>
